@import "_operators.scss";

/* START GENERAL */
* {
	margin: 0px;
	padding: 0px;
	font-family: $font;
	box-sizing: border-box;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

main {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.icon {
	width: 35px;
	height: 35px;
}

button {
	user-select: none;
}

button:hover {
	cursor: pointer;
}

/* END GENERAL */
