@import "/src/global-styles/operators.scss";

.itemListContainer {
	@include secondaryStyle();
	@include modernContainer();
	border-radius: 0;
	position: relative;
	width: 100%;
	min-height: 600px;
	padding: 20px 20px;

	h2 {
		padding-bottom: 5px;
		border-bottom: 2px solid white;
		text-align: center;
		font-size: 28px;
	}
}
