@import "/src/global-styles/operators.scss";

.itemListContainer {
	@include secondaryStyle();
	@include modernContainer();
	border-radius: 0;
	position: relative;
	width: 100%;
	height: 600px;

	h2 {
        width: 100%;
        display: inline-block;
		margin-top: 30px;
		text-align: center;
	}
}
