@import "/src/global-styles/operators.scss";

.booksListContainer {
	@include secondaryStyle();
	@include modernContainer();
	border-radius: 0;
	position: relative;
	width: 100%;
	min-height: 600px;
	padding: 20px 20px;

	h2 {
		padding: 0 0 5px 10px;
		border-bottom: 2px solid white;
		// text-align: left;
		font-size: 28px;
	}
}
