@import "/src/global-styles/operators.scss";

.cart {
	@include primaryStyle();
	@include modernContainer();
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 15px;
	width: 98%;
	max-width: 700px;
	height: 600px;

	h3 {
		@include secondaryStyle();
		padding: 10px 0;
		font-size: 22px;
		text-align: center;
	}

	.itemList {
		@include secondaryStyle();
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
		height: 75%;
		border-radius: 2%;
		overflow-y: auto;
		overflow-x: hidden;

		.list {
			.columns {
				display: flex;
				justify-content: space-between;
				margin-bottom: 30px;
				font-size: 18px;
				text-align: center;

				.titleColumn {
					text-align: left;
					width: 45%;
				}

				.qtyColumn {
					width: 20%;
				}

				.subtotalColumn {
					width: 15%;
				}

				.removeColumn {
					width: 15%;
				}

				.qtyColumnShort,
				.subtotalColumnShort,
				.removeColumnShort {
					display: none;
				}
			}
		}

		.totalDiv {
			padding-right: 15px;
			text-align: right;
		}
	}

	.cartButtons {
		display: flex;
		justify-content: space-around;

		button {
			@include secondaryStyle();
			width: 100px;
			height: 40px;
			font-size: 20px;
			border: solid black;
		}
	}
}

@media only screen and (max-width: 576px) {
	.itemList {
		padding: 15px 10px !important;

		.columns {
			.qtyColumn,
			.subtotalColumn,
			.removeColumn {
				display: none;
			}

			.titleColumn {
				width: 40% !important;
			}

			.qtyColumnShort,
			.removeColumnShort {
				width: 14%;
				display: block !important;
			}

			.subtotalColumnShort {
				width: 25%;
				display: block !important;
			}
		}

		.totalDiv {
			padding-right: 5px !important;
		}
	}
}

@media only screen and (max-width: 400px) {
	.cart {
		h3 {
			font-size: 20px;
		}

		.itemList {
			h4 {
				font-size: 16px;
			}
		}
	}
}
