@import "/src/global-styles/operators.scss";

.cart {
	@include primaryStyle();
	@include modernContainer();
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 15px;
	width: 90%;
	max-width: 700px;
	height: 600px;

	h3 {
		@include secondaryStyle();
		padding: 10px 0;
		font-size: 22px;
		text-align: center;
	}

	.itemList {
		@include secondaryStyle();
		padding: 20px;
		height: 75%;
		border-radius: 2%;

		.columns {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			font-size: 18px;
			text-align: center;

			.titleColumn {
				text-align: left;
				width: 40%;
			}

			.qtyColumn {
				width: 20%;
			}

			.removeColumn {
				width: 20%;
			}
		}
	}

	.cartButtons {
		display: flex;
		justify-content: space-around;

		button {
			@include secondaryStyle();
			width: 100px;
			height: 40px;
			font-size: 20px;
			border: solid black;
		}
	}
}
