@import "/src/global-styles/operators.scss";

.cart {
	@include panel();

	.itemList .list {
		.columns {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			font-size: 18px;
			text-align: center;

			.titleColumn {
				text-align: left;
				width: 45%;
			}

			.qtyColumn {
				width: 20%;
			}

			.subtotalColumn {
				width: 15%;
			}

			.removeColumn {
				width: 15%;
			}

			.qtyColumnShort,
			.subtotalColumnShort,
			.removeColumnShort {
				display: none;
			}
		}
	}

	.totalDiv {
		padding-right: 15px;
		text-align: right;
	}

	.cartButtons {
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 500px;

		button {
			width: 100px;
		}
	}
}

@media only screen and (max-width: 576px) {
	.itemList {
		.columns {
			.qtyColumn,
			.subtotalColumn,
			.removeColumn {
				display: none;
			}

			.titleColumn {
				width: 40% !important;
			}

			.qtyColumnShort,
			.removeColumnShort {
				width: 14%;
				display: block !important;
			}

			.subtotalColumnShort {
				width: 25%;
				display: block !important;
			}
		}

		.totalDiv {
			padding-right: 5px !important;
		}
	}
}
