.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	text-align: center;

	.titleDiv {
		width: 45%;
		text-align: left;
		h5 {
			font-size: 16px;
		}
	}

	.qtyDiv {
		width: 20%;
	}

	.subtotalDiv {
		width: 15%;
	}

	.removeDiv {
		width: 15%;

		.removeButton {
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 576px) {
	.item {
		.titleDiv {
			width: 40%;
		}

		.qtyDiv,
		.removeDiv {
			width: 14%;
		}

		.subtotalDiv {
			width: 25%;
		}

		.counterContainer {
			flex-direction: column;

			svg {
				width: 37px;
				height: 37px;
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.item {
		h5,
		p {
			font-size: 14px !important;
		}
	}
}
