.item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	text-align: center;

	.titleDiv {
		width: 40%;
		text-align: left;
		h5 {
			font-size: 16px;
		}
	}
	.qtyDiv {
		width: 20%;
	}
	.removeDiv {
		width: 20%;

		.removeButton {
			cursor: pointer;
		}
	}
}
