.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	text-align: center;

	.titleDiv {
		width: 60%;
		text-align: left;
		h5 {
			font-size: 16px;
		}
	}
	.qtyDiv {
		width: 20%;
	}
	.removeDiv {
		width: 15%;

		.removeButton {
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 400px) {
	.item h5 {
		font-size: 14px !important;
	}
}
